{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
<h1> Hopital </h1>
<div id="menu">
<ul>
	<a href="{{path('bundle_ppe_mission2_bootstrap_accueil',{})}}">Accueil</a>
	<a href="{{path('bundle_ppe_mission2_bootstrap_services',{})}}">Services</a>
	<a href="{{path('bundle_ppe_mission2_bootstrap_personnel',{})}}">Personnel</a>
	<a href="{{path('bundle_ppe_mission2_bootstrap_annuaire',{})}}">Annuaire</a>
	<a href="{{path('bundle_ppe_mission2_bootstrap_horaires',{})}}">Horaires</a>
	<a href="{{path('bundle_ppe_mission2_bootstrap_plan',{})}}">Plan</a>
	<a href="{{path('bundle_ppe_mission2_bootstrap_infos',{})}}">Informations</a>
</ul>
</div>
{% block corps %} {% endblock %}
{% endblock %}

